body{
   background-image: url("../img/travel_HD.jpg");
}
.sign-box {
  width: 400px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  font-family: Arial, Helvetica, sans-serif;
}
.sexe {
  margin-bottom: 10px;
  padding: 5px;
}
.sign-box h1 {
  text-align: center;
  padding-bottom: 6px;
}

.sign-box input[type="email"],
.sign-box input[type="password"],
.sign-box input[type="text"],
.sign-box input[type="tel"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}


.sign-box button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.sign-box button:hover {
  background-color: #45a049;
}

.sign-box a {
  text-decoration: none;
  color: #4CAF50;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.sign-box a:hover {
  text-decoration: underline;
}
.sign-box p {
  margin: 7.5px 0;
  display: inline-block;
  padding: 5px 20px;
}
